body {
    background-color: #e8edd8;
}
.header {
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}
.header-spacer,
.header-actions {
    flex: 1;
}
.header-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#signLogSave {
    display: none;
    font-size: 25px;
    font-weight: 700px;
    text-align: center;
    left: 50%;
    right: 50%;
    color: darkgreen;
}
.logo {
    margin: 0;
}
.logo img {
    height: 60px;
    width: auto;
    display: block;
}
.signAndLog {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: darkgreen;
    color: #fdfdfd;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
.signUpBox {
    z-index: 10;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border: 2px solid #d2c8b2;
    border-radius: 20px;
    background-color: #f5f2e8;
    color: #4b3d33;
}
.signUpBox input {
    padding: 8px;
    border: 1px solid #c8c1b4;
    background-color: #fff;
    border-radius: 6px;
}
.signUpBox button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #7aa6c7;
    color: #fdfdfd;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
.logInBox {
    z-index: 10;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border: 2px solid #d2c8b2;
    border-radius: 20px;
    background-color: #f5f2e8;
    color: #4b3d33;
}
.logInBox input {
    padding: 8px;
    border: 1px solid #c8c1b4;
    background-color: #fff;
    border-radius: 6px;
}
.logInBox button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #7aa6c7;
    color: #fdfdfd;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.1px);
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 5;
}
